<main>
    <section class="right">
        <aside class="header">
            <h2>Create New Property</h2>
            <span class="material-icons-round icon"> close </span>
        </aside>
        <aside class="content">
            <span class="sidenav">
                <ul>
                    <li>
                        <h5>1</h5>
                        <h3>General Informations</h3>
                    </li>
                    <li>
                        <h5>2</h5>
                        <h3>Property Informations</h3>
                    </li>
                    <li>
                        <h5>3</h5>
                        <h3>Additional Informations</h3>
                    </li>
                    <li>
                        <h5>4</h5>
                        <h3>Association Informations</h3>
                    </li>
                    <li>
                        <h5>5</h5>
                        <h3>Pricing And Sale Info</h3>
                    </li>
                    <li>
                        <h5>6</h5>
                        <h3>Publish Information</h3>
                    </li>
                </ul>
            </span>
            <span class="body">
    
            </span>

        </aside>

    </section>
</main>
