<main>
  <section class="right">
    <aside class="header">
      <h2>Create New Property</h2>
      <span class="material-icons-round icon"> close </span>
    </aside>
    <aside class="content">
      <span class="sidenav">
        <ul>
          <li>
            <h3>General Informations</h3>
          </li>
          <li>
            <h3>Property Informations</h3>
          </li>
          <li>
            <h3>Additional Informations</h3>
          </li>
          <li>
            <h3>Association Informations</h3>
          </li>
          <li>
            <h3>Pricing And Sale Info</h3>
          </li>
          <li>
            <h3>Publish Information</h3>
          </li>
        </ul>
      </span>
      <span class="body">
        <span class="buttons-1">
          <span class="checkboxes">
            <span class="checkbox">
              <input type="checkbox" id="sale" />
              <label for="sale">
                <span class="material-icons-outlined"> sell </span>
                <h6>For Sale</h6>
              </label>
            </span>
            <span class="checkbox">
              <input type="checkbox" id="rent" />
              <label for="rent">
                <span class="material-icons-outlined"> currency_exchange </span>
                <h6>For Rent</h6>
              </label>
            </span>
          </span>
        </span>
        <span class="buttons-2">
          <span class="pages">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>   
          </span>
          <span class="page-dir">
            <button class="previous">
              <span class="material-icons-outlined"> arrow_back </span>Previous
            </button>
            <button class="next">
              Next<span class="material-icons-outlined"> arrow_forward </span>
            </button>
          </span>
        </span>
      </span>
    </aside>
  </section>
</main>
