<main>
  <section class="card">
    <aside class="card-head">
      <span class="head-content">
        <span class="content">
          <h3>Create New Seller</h3>
          <h4>Individual Seller</h4>
        </span>
        <span class="material-icons-round icon"> close </span>
      </span>
    </aside>
    <aside class="card-content">
      <span class="content-head">
        <h3>Point of Contact</h3>
        <h5>STEP 4 OF 4</h5>
      </span>
      <span class="content-body">
        <span class="pointofcontact">
          <span class="addcontact">
            <input id="toggle" class="hidden" type="checkbox" />
            <label for="toggle" class="clicker" tabindex="1">
              <span class="material-icons-outlined icon"> person_outline </span>
              <h4>Add New</h4>
              <h4>Point of Contact</h4>
              <span class="addform">
                <span class="inputs">
                  <span class="profile-photo">
                    <input
                      type="file"
                      id="upload"
                      class="upload"
                      accept="image/*"
                      onchange="previewImage(event);"
                    />
                    <label for="upload">
                      <span class="material-icons-outlined camera"> add_a_photo </span>
                      <h4>Upload Profile Photo</h4>
                    </label>
                  </span>
                  <span class="input-1">
                    <input
                      type="text"
                      class="input"
                      placeholder="e.g. - Sudhi -"
                    />
                    <label>First Name *</label>
                  </span>
                  <span class="input-1">
                    <input
                      type="text"
                      class="input"
                      placeholder="e.g. - Koppa -"
                    />
                    <label>Last Name *</label>
                  </span>
                  <span class="input-1">
                    <input
                      type="text"
                      class="input"
                      placeholder="e.g. - Managing Director -"
                    />
                    <label>Designation *</label>
                  </span>
                  <span class="input-1">
                    <input
                      type="text"
                      class="input"
                      placeholder="e.g. - Managing Director -"
                    />
                    <label>Email *</label>
                  </span>
                  <span class="input-1">
                    <input
                      type="text"
                      class="input"
                      placeholder="e.g. -+919890999878-"
                    />
                    <label>Phone Number *</label>
                  </span>


                </span>
                <span class="button">
                    <button class="save-">Save</button>
                </span>
              </span>
            </label>
          </span>
          <span class="contacts">
            <span class="contact-cards">
              <span class="contact-card">
                <input type="checkbox" id="check-1"/>
                <label for="check-1">
                  <img
                    src="../../assets/Images/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space.jpg"
                    alt=""
                  />
                  <span class="contact-content">
                    <h3>Kelly Williamson</h3>
                    <h4>General Manager</h4>
                    <span class="email">
                      <span class="material-icons-outlined">
                        mark_email_unread
                      </span>
                      <h5>kelly.williamson@company.com</h5>
                    </span>
                    <span class="phone">
                      <span class="material-icons-outlined"> call </span>
                      <h5>+47 589 55 458</h5>
                    </span>
                  </span>
                </label>
              </span>
              <span class="contact-card">
                <input type="checkbox" id="check-2"/>
                <label for="check-2">
                  <img
                    src="../../assets/Images/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space.jpg"
                    alt=""
                  />
                  <span class="contact-content">
                    <h3>Kelly Williamson</h3>
                    <h4>General Manager</h4>
                    <span class="email">
                      <span class="material-icons-outlined">
                        mark_email_unread
                      </span>
                      <h5>kelly.williamson@company.com</h5>
                    </span>
                    <span class="phone">
                      <span class="material-icons-outlined"> call </span>
                      <h5>+47 589 55 458</h5>
                    </span>
                  </span>
                </label>
              </span>
              <span class="contact-card">
                <input type="checkbox" id="check-3"/>
                <label for="check-3">
                  <img
                    src="../../assets/Images/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space.jpg"
                    alt=""
                  />
                  <span class="contact-content">
                    <h3>Kelly Williamson</h3>
                    <h4>General Manager</h4>
                    <span class="email">
                      <span class="material-icons-outlined">
                        mark_email_unread
                      </span>
                      <h5>kelly.williamson@company.com</h5>
                    </span>
                    <span class="phone">
                      <span class="material-icons-outlined"> call </span>
                      <h5>+47 589 55 458</h5>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </span>
        <span class="buttons">
          <button class="back">Back</button>
          <button class="save">Save</button>
        </span>
      </span>
    </aside>
  </section>
</main>
