<main>
  <section class="card">
    <aside class="card-head">
      <span class="head-content">
        <span class="content">
          <h3>Create New Seller</h3>
          <h4>Individual Seller</h4>
        </span>
        <span class="material-icons-round icon"> close </span>
      </span>
    </aside>
    <aside class="card-content">
      <span class="content-head">
        <h3>Seller Details</h3>
        <h5>STEP 2 OF 3</h5>
      </span>
      <span class="content-body">
        <h3>Seller Address</h3>
        <span class="address">
          <span class="inputs">
            <span class="input-1">
              <input
                type="text"
                class="input"
                placeholder="e.g. - Sunteck Realty Ltd -"
              />
              <label>Address Line 1 *</label>
            </span>
            <span class="input-2">
              <input
                type="text"
                class="input"
                placeholder="e.g. - info@sunteckrealty.com -"
              />
              <label for="">Address Line 2 *</label>
            </span>
          </span>
          <span class="inputs">
            <span class="input-3">
              <input type="text" class="input" placeholder="e.g. - India -" />
              <label for="">Country *</label>
            </span>
            <span class="input-4">
              <input type="text" class="input" placeholder="e.g. - Kerala -" />
              <label for="">State *</label>
            </span>
          </span>
          <span class="inputs">
            <span class="input-5">
              <input type="text" class="input" placeholder="e.g. - Kerala -" />
              <label for="">City *</label>
            </span>
            <span class="input-6">
              <input type="text" class="input" placeholder="e.g. - Kerala -" />
              <label for="">Zip Code *</label>
            </span>
          </span>
        </span>
        <span class="buttons">
          <button class="back">Back</button>
          <button class="save">Save & Continue</button>
        </span>
      </span>
    </aside>
  </section>
 
</main>

